<div class="container">
	<% if current_user %>
		<div class="row">
			<div class="col-md-6 ml-md-auto mr-md-auto">
				<div class="top_column">
					<h3>Welcome <%= current_user.name if current_user %></h3>
				</div>
				<div class="top_column">
					<%= link_to "Logout", logout_path, method: :delete, class:'btn btn-primary' %>
				</div>
			</div>
		</div>
		<div class="col-md-6 ml-md-auto mr-md-auto">
			<hr>
			<%= render "flash" %>
		</div>
		<div class="row">
			<div class="col-md-6 ml-md-auto mr-md-auto">
				<table class="table table-striped">
					<tbody>
						<% current_user.followers.each do |follower| %>
							<tr>
								<td><%= image_tag(follower.avatar)%></td>
								<td><%= follower.name %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	<% else %>
		<%= render "welcome" %>
	<% end %>
</div>